/* https://www.figma.com/design/nrAobhw5FtROjsKdjLhDPz/Studio?node-id=0-1&t=gbrPlJMxB16H6bc0-1 */

@font-face {
    font-family: 'Product Sans Italic';
    src: url('../fonts/Product\ Sans\ Italic.ttf');
}

body {
    background-color: #212121;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin: 0;
}

h1 {
    font-weight: 400;
    margin-top: 0;
}

ol,
ul {
    padding-inline-start: 20px;
}

.ease {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.mobile-only {
    display: none;
}

.header {
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header a {
    color: #ffffff;
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.header a::after {
    border-bottom: 1px solid #ffffff;
    bottom: 12px;
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
}

.header .content {
    display: flex;
    justify-content: space-between;
}

.header.scroll .content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.back {
    background-image: url(../img/chevron_backward.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -12px;
    height: 40px;
    width: 40px;
}

.back:hover {
    cursor: pointer;
}

.content {
    margin: 0 auto;
    max-width: 1080px;
    padding: 100px;
}

.section img {
    margin-block-start: 2em;
    margin-block-end: 2em;
    width: 100%;
}

.menu-container {
    background-image: url(../img/NavMenu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12px;
    width: 20px;
    position: relative;
}

.menu-container:hover {
    cursor: pointer;
}

.menu-dropdown {
    background-color: #ffffff;
    border-radius: 8px;
    color: #212121;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: all 0.4s ease;
    z-index: 1;
}

.menu-dropdown.top {
    top: 40px;
}

.menu-dropdown.bottom {
    bottom: 40px;
}

.menu-dropdown.left {
    left: -30px;
}

.menu-dropdown.right {
    right: -30px;
}

.menu-dropdown.active {
    max-height: 200px;
}

.menu-items {
    min-width: 120px;
    opacity: 0;
    padding: 12px;
    transition: all 0.4s ease;
}

.menu-dropdown.active .menu-items {
    opacity: 1;
}

.menu-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 15px;
    padding: 0 10px;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

.menu-items li:last-child {
    margin-top: 16px;
}

.menu-items li:last-child::before {
    border-top: 1px solid #dbdbdb;
    content: '';
    display: block;
    margin-top: -9px;
    position: absolute;
    width: calc(100% - 44px);
}

.menu-items li:focus {
    background-color: #ededef;
}

.menu-items li:hover {
    background-color: #ededef;
    cursor: pointer;
}

.menu:hover {
    cursor: pointer;
}

#home {
    height: 100%;
    margin-top: 20px;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    width: 100%;
}

#home h1 {
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    margin: 0;
}

#logo {
    font-family: 'Product Sans Italic';
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 4px;
}

.hero-compound {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 10%;
}

.carousel-compound {
    position: relative;
}

.carousel {
    color: #ffffff;
    position: relative;
}

.carousel-slide {
    transition: opacity 0.6s ease;
}

.carousel-slide:first-child {
    display: block !important;
}

.carousel-slide:not(:first-child) {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
}

.carousel-slide img {
    width: 100%;
}

.carousel-slide img:hover {
    cursor: pointer;
}

.timer {
    bottom: 23%;
    display: flex;
    justify-content: center;
    left: 10%;
    position: absolute;
    z-index: 10;
}

.timer-bubble {
    border-radius: 4px;
    display: inline-block;
    margin: 4px;
    height: 8px;
    width: 8px;
    overflow: hidden;
    position: relative;
    transition: width 0.4s ease;
    vertical-align: baseline;
}

.timer-bubble:not(.active):hover .timer-container {
    background-color: #d4d4d5;
    cursor: pointer;
}

.timer-bubble.active {
    width: 60px;
}

.timer-container {
    background-color: #bababa;
    height: 100%;
    width: 100%;
    transition: background-color 0.2s ease;
}

.timer-bubble.active .timer-container {
    background-color: #d4d4d5;
}

.timer-value {
    background-color: #bababa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    /*width: 0px;*/
    transition: width 0.1s ease;
}

.timer-bubble.active .timer-value {
    display: block;
}

.project {
    background-color: #212121;
    position: absolute;
    top: 0;
    width: 100%;
}

.project:not(.active) {
    display: none;
    margin-top: 20px;
    opacity: 0;
}

.project.active {
    margin-top: 0;
    opacity: 1;
}

.project.easeout {
    margin-top: -20px;
    opacity: 0;
}

.project p {
    margin-top: 0;
}

.project-hero {
    position: relative;
}

.project-hero.about {
    min-height: 100vh;
}

.project-hero::before {
    background-color: #ffffff;
    bottom: 0;
    content: '';
    display: block;
    height: 12vw;
    max-height: 160px;
    width: 100%;
    position: absolute;
}

.project-hero.about::before {
    display: none;
}

.project-hero .content {
    display: flex;
    justify-content: flex-end;
    padding-top: 260px;
    padding-bottom: 0 !important;
    position: relative;
}

.project-hero.about .content {
    display: block;
}

.project-hero.about .content > div {
    min-width: 540px;
    width: 50%;
}

.project-hero.about .content a {
    color: #ffffff;
    text-decoration: none;
}

.project .content {
    padding-bottom: 80px;
}

.project-details {
    background-color: #212121;
    bottom: calc(50% - 3vw);
    color: #ffffff;
    left: 100px;
    position: absolute;
    transform: translateY(50%);
    width: 35%;
}

.project-name {
    font-size: 24px;
}

.project .project-description {
    font-size: 32px;
    line-height: 48px;
    margin-top: 52px;
}

.project-image {
    max-width: 525px;
    width: 50%;
    z-index: 1;
}

.label-content {
    display: flex;
}

.label-left-column {
    min-width: 200px;
}

.label {
    background-color: #eff0f2;
    border-radius: 18px;
    color: #212121;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
}

@media only screen and (max-width: 1200px) {
    .project-details {
        bottom: calc(50% - 5vw);
    }

    .project-name {
        font-size: 20px;
    }

    .project .project-description {
        font-size: 28px;
        line-height: 40px;
        margin-top: 28px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    p {
        line-height: 26px;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .header.scroll .content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .content {
        padding: 40px;
    }

    #home h1 {
        width: 80%;
    }

    #logo {
        font-size: 20px;
    }

    .hero-compound {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .carousel {
        margin-top: 30px;
    }

    .carousel-slide img {
        max-width: 320px;
    }

    .timer {
        bottom: auto;
        display: block;
        left: -4px;
        position: relative;
    }

    .project-hero::before {
        display: none;
    }

    .project-hero .content {
        flex-direction: column-reverse;
        padding-top: 120px;
        padding-bottom: 10px;
    }

    .project-hero.about .content > div {
        min-width: 0;
        width: 100%;
    }

    .project .content {
        padding-bottom: 24px;
    }

    .project-details {
        left: 0;
        position: relative;
        transform: none;
        width: 100%;
    }

    .project-name {
        font-size: 16px;
    }

    .project-description,
    .project .project-description {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 28px;
    }

    .project-image {
        margin-bottom: 32px;
        max-width: 320px;
        width: 100%;
    }

    .label-content {
        display: block;
    }

    .label {
        font-size: 16px;
        margin-bottom: 30px;
    }
}
