/* https://www.figma.com/design/nrAobhw5FtROjsKdjLhDPz/Studio?node-id=0-1&t=gbrPlJMxB16H6bc0-1 */

body {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin: 0;
}

h1 {
    font-weight: 400;
    margin-top: 0;
}

ol, ul {
    padding-inline-start: 20px;
}

.ease {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.mobile-only {
    display: none;
}

.header {
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header a {
    color: #ffffff;
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.header a::after {
    border-bottom: 1px solid #ffffff;
    bottom: 12px;
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
}

.header .content {
    display: flex;
    justify-content: space-between;
}

.header.scroll .content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.back {
    background-image: url(../img/chevron_backward.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
}

.back:hover {
    cursor: pointer;
}

.content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px;
}

.section img {
    margin-block-start: 2em;
    margin-block-end: 2em;
    width: 100%;
}

#home-hero {
    align-items: center;
    background-color: #111111;
    color: #dbdbdb;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
}

#home-container {
    height: auto;
    margin-left: 16%;
    max-width: 760px;
}

#home-container h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: 48px;
    margin-bottom: 48px;
}

#home-projects {
    display: flex;
    list-style: none;
    padding: 0;
}

#home-projects li {
    margin-right: 20px;
}

#home-projects li a {
    color: #dbdbdb;
    cursor: pointer;
    display: block;
    font-size: 18px;
    overflow: hidden;
    position: relative;
    padding: 0.2em 0;
}

#home-projects li a::after {
    background-color: #dbdbdb;
    bottom: 0;
    content: '';
    position: absolute;
    left: 0;
    height: 0.07em;
    width: 100%;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

#home-projects li a:hover::after,
#home-projects li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.home-hero-transition {
    opacity: 0;
}

.home-transition {
    margin-top: 20px;
    opacity: 0;
}

.home-transition:not(:last-child) {
    margin-bottom: -20px;
}

#home-container h1.home-transition {
    margin-top: 68px;
    margin-bottom: 28px;
}

.project {
    background-color: #212121;
    position: absolute;
    top: 0;
    width: 100%;
}

.project:not(.active) {
    display: none;
    margin-top: 20px;
    opacity: 0;
}

.project.active {
    margin-top: 0;
    opacity: 1;
}

.project.easeout {
    margin-top: -20px;
    opacity: 0;
}

.project p {
    margin-top: 0;
}

.project-hero {
    position: relative;
}

.project-hero::before {
    background-color: #ffffff;
    bottom: 0;
    content: '';
    display: block;
    height: 12vw;
    max-height: 160px;
    width: 100%;
    position: absolute;
}

.project-hero .content {
    display: flex;
    justify-content: flex-end;
    padding-top: 260px;
    padding-bottom: 0;
    position: relative;
}

.project-details {
    bottom: calc(50% - 3vw);
    color: #ffffff;
    left: 100px;
    position: absolute;
    transform: translateY(50%);
    width: 35%;
}

.project-name {
    font-size: 24px;
}

.project .project-description {
    font-size: 32px;
    line-height: 48px;
    margin-top: 52px;
}

.project-image {
    max-width: 525px;
    width: 50%;
    z-index: 1;
}

.label-content {
    display: flex;
}

.label-left-column {
    min-width: 200px;
}

.label {
    background-color: #eff0f2;
    border-radius: 18px;
    color: #212121;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
}

@media only screen and (max-width: 1200px) {
    .project-details {
        bottom: calc(50% - 5vw);
    }

    .project-name {
        font-size: 20px;
    }

    .project .project-description {
        font-size: 28px;
        line-height: 40px;
        margin-top: 28px;
    }
}

@media only screen and (max-width: 1024px) {
    #home-container {
        margin-left: 0;
        padding: 10%;
    }

    #home-container h1 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .header.scroll .content {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .content {
        padding: 30px;
    }

    .section img {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .project-hero::before {
        display: none;
    }

    .project-hero .content {
        flex-direction: column-reverse;
        padding-top: 120px;
        padding-bottom: 10px;
    }

    .project-details {
        left: 0;
        position: relative;
        transform: none;
        width: 100%;
    }

    .project-name {
        font-size: 16px;
    }

    .project-description {
        font-size: 20px;
        line-height: 28px;
    }

    .project-image {
        margin-bottom: 32px;
        max-width: none;
        width: 100%;
    }

    .label-content {
        display: block;
    }

    .label {
        font-size: 16px;
        margin-bottom: 30px;
    }
}
