<div class="view">
<div class="template-inner template-inner--case-study" style='background-color:#fff'>

    <div class="case-study-wrapper">
        <div class='text-center case-study-section case-study-section--hero' style='background-color:#000000'>
            <div class="case-btn-back-wrapper">
                <a href='/page/case-studies' id="case-study-back" class="btn btn-link">
                    <img src="../../assets/images/chevron_backward.svg" alt="">
                </a>
            </div>
            <div class="case-study__content">
                <h1>Match.com's Stir online</h1>
                <p>UX & Interaction Design and Testing.</p>
            </div>
            <div class="img-wrap  case-hero__picture case-study-inner-content">
                <picture class='img-full'>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_StirHero.png"
                    />
                    <img
                        src="../../assets/images/D_StirHero.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- end section -->
        <div class="case-study-section">
            <div class="case-study-inner-content">
                <h2 class="text-center">Project Overview</h2>
                <p class="">Video, Audio, and Text Chatting, interface for 1 to 1 and 
                    group dynamics. WebRTC + Node.js Peer to Peer Video/Audio. No Expensive 
                    architecture on the backend. No Flash or Plugins. The goal was to present 
                    a solution that would help ease the transition from online to offline 
                    interaction and combat the stigma of deception in online dating.</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_MatchChart.png"
                    />
                    <img
                        src="../../assets/images/D_MatchChart.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
            <div class="case-study-inner-content">
                <h2 class="text-center">Process & strategy</h2>
                <p class="">The process began with a collaborative working session between 
                    2 developers and myself as the UX Designer, IA. We utilized internal 
                    and external data sources to determine user pain points, gaps in the 
                    current experience and possible solutions to increase engagement. 
                    We determined with WebRTC we could create a pressure free way to make 
                    connections and provide an answer to users leaving Match to Skype. 
                    Through the double diamond process we uncovered insights and I ideated 
                    on design solutions that were developed for 1 to 1 and group video chatting.</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_MatchFinal.png"
                    />
                    <img
                        src="../../assets/images/D_MatchFinal.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
            <div class="case-study-inner-content">
                <h2 class="text-center">Outcome</h2>
                <p class="">Because the technology was validated, a competitor analysis and 
                    financial feasibility were the next steps to determine whether to go to 
                    market with the feature. Considering the resources needed to manage 
                    customer services the feature was shelved for a later date as a viable 
                    option to boost user engagement and revenue as a standalone feature.</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_MatchFinal.png"
                    />
                    <img
                        src="../../assets/images/D_MatchFinal.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- end section -->
    </div>
</div>
</div>
<style>
    .header__wrapper {
    filter: invert(1) brightness(2) !important;
}
</style>
