<div class="view">
<div class="template-inner template-inner--case-study" style='background-color:#fff'>

    <div class="case-study-wrapper">
        <div class='text-center case-study-section case-study-section--hero' style='background-color:#F4F5F8'>
            <div class="case-btn-back-wrapper">
                <a href='/page/case-studies' id="case-study-back" class="btn btn-link">
                    <img src="../../assets/images/chevron_backward.svg" alt="">
                </a>
            </div>
            <div class="case-study__content">
                <h1>Crafting a cohesive visual language to attract clients & partners</h1>
                <p>User Experience, Visual & Interaction Design, Content Strategy, and Testing.</p>
                 <a href="https://formtoideas.com/" class="btn btn-link">View Mercer’s site</a>
            </div>
            <div class="img-wrap  case-hero__picture case-study-inner-content ">
                <picture class="img-full ">
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/MercerM_Hero.jpg"
                    />
                    <img
                        src="../../assets/images/MercerD_Hero.jpg"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- end section -->
        <div class="case-study-section bg-black">
            <div class="case-study-inner-content">
                <h2 class="text-center">Elevated type & voice</h2>
                <p class="">An actionable voice and typeface was created to establish clear and concise messaging 
                    that underscores Mercer’s product’s value propositions.  Research uncovered 
                    that using active language and emphasizing Mercer’s services, motivated visitors 
                    to engage and take the next step, whether it’s learning more or signing up for 
                    their services and partnership opportunity. This approach highlighted what sets 
                    the Mercer apart but also makes their value clear and accessible to is audience.</p>
            </div>
            <div class='case-study-inner-content'>
                <div class="case-study-inner-content case-study-inner-content--two-cols">
                    <div>
                        <div class="case-study-inner-content--typography">
                            <picture>
                                <source 
                                media="(max-width: 768px)" 
                                srcset="../../assets/images/mercerTypographyPreview.svg"
                                />
                                <img
                                    src="../../assets/images/mercerTypographyPreview.svg"
                                    alt=""
                                    loading="lazy"
                                    decoding="async"
                                />
                            </picture>
                            <div class="font-18-desktop">
                                <p class="text-uperrcase text-ubuntu">abcdefghijklmnopqrstuvwxyz</p>
                                <p>abcdefghijklmnopqrstuvwxyz</p>
                            </div>
                            <div>
                                <p>1. Ubuntu font family</p>
                                <p>2. Helvetica Neue</p>
                            </div>
                            <div class="font-16-desktop">
                                <p>We are a consulting firm specialize in educational analysis, 
                                equity investments, policy research, strategic planning, 
                                representation, and mediation. At Mercer, we empower clients 
                                by providing the resources they need to achieve their goals. 
                                We believe success requires both access to essential resources 
                                and a willingness to embrace innovation. Through tailored consultation, 
                                we help clients shape their vision and achieve concrete results.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <picture>
                            <source 
                            media="(max-width: 768px)" 
                            srcset="../../assets/images/mercer-typography.png"
                            />
                            <img
                                src="../../assets/images/mercer-typography.png"
                                alt=""
                                loading="lazy"
                                decoding="async"
                            />
                        </picture>
                    </div>
                </div>
                <picture class="hide-desktop">
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/MercerMobile.png"
                    />
                    <img
                        src="../../assets/images/MercerMobile.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
            <div class="case-study-inner-content">
                <h2 class="text-center">Responsive & scalable pages</h2>
                <p class="">Mercer’s website is fully responsive, offering a seamless 
                    experience across desktop, tablet, and mobile. With an intuitive 
                    content management flow ensures that pages can be easily added, 
                    removed, or edited.</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/Screenshots_DM.png"
                    />
                    <img
                        src="../../assets/images/Mercer D_img4.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
            <div class="case-study-inner-content">
                <h2 class="text-center">Results & impact</h2>
                <p class="">Mercer’s informative and actionable voice now underscores 
                    its value propositions. Along with a mobile-first content strategy 
                    and cohesive visual language, the brand’s digital presence has been 
                    elevated. By incorporating a responsive and scalable user experience, 
                    the site seamlessly adapts to all devices, ensuring accessibility for a 
                    wider audience. Collaborative stakeholder workshops drove alignment on
                        the vision and goals, resulting in a unified design that resonates with 
                        both potential clients and partners. The website not only improved user 
                        engagement and satisfaction but also strengthened the brand’s appeal, directly
                        contributing to increased inquiries and partnership opportunities. <a href='https://formtoideas.com/Enterprise.html' class='btn btn-link'>View Mercer’s 
                        site</a></p>
            </div>
        </div>
    </div>
</div>
</div>

<style>
    .footer__wrapper{
        filter:invert(1) brightness(2);
    }
</style>