<div class="view">
<div class="template-inner template-inner--case-study" style='background-color:#fff'>

    <div class="case-study-wrapper">
        <div class='text-center case-study-section case-study-section--hero' style='background-color:#fff'>
            <div class="case-btn-back-wrapper">
                <a href='/page/case-studies' id="case-study-back" class="btn btn-link">
                    <img src="../../assets/images/chevron_backward.svg" alt="">
                </a>
            </div>
            <div class="case-study__content">
                <h1>Crafting a design language by creating RentSpree’s DS</h1>
                <p> User Experience, Visual & Interaction Design, Content Strategy, and Testing.</p>
                <a href="https://www.rentspree.com/" class="btn btn-link">Full case study</a>
            </div>
            <div class="img-wrap  case-hero__picture case-study-inner-content">
                                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_RentSpreeHero.png"
                    />
                    <img
                        src="../../assets/images/D_RentSpreeHero.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- end section -->
        <div class="case-study-section bg-black">
            <div class="case-study-inner-content">
                <h2 class="text-center">Project Overview</h2>
                    <p class="">RentSpree connects landlords, agents, and renters, but its previous design system lacked cohesion, slowing consistency, speed to market, and product improvements. Beacon now serves as a clear unified design guide, offering reusable, scalable components that enhance RentSpree’s brand and product experience. The process below described how it came together.</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_RentSpreeComponents.png"
                    />
                    <img
                        src="../../assets/images/D_RentSpreeComponents.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
            <div class="case-study-inner-content">
                <h2 class="text-center">Crafting a solution</h2>
                    <p class="">The design system strategy focused on building a unified framework that helps teams deliver consistent, user-friendly experiences. By creating a single source of truth for design components and guidelines, it improves collaboration, streamlines workflows, and ensures a cohesive brand across platforms. I prioritized flexibility, accessibility, and efficiency to adapt to user needs while maintaining a professional design. Here is the strategy plan I created as the design lead:
                        <br><br>
                        1. Evaluate (Colors, Icons, UI Patterns, Accessibility )
                        2. Shape vision (Create design language and principles)
                        3. Create library (Typography, Color Palette, Patterns/Components, Assets)
                        4. Unify as one (Style & Usage guidance, Component library, Team governance)</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_RentSpreeDocumentation.png"
                    />
                    <img
                        src="../../assets/images/D_RentSpreeDocumentation.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
            <div class="case-study-inner-content">
                <h2 class="text-center">Outcome & impact</h2>
                    <p class="">Beacon created a clear design language that improves user experience with easy-to-use scalable components and guidelines for RentSpree. A governance process was introduced to ensure all elements are functional and user-friendly through UX and Dev reviews. This design system has also increased cross functional collaboration ensuring consistency and an elevated product quality that support RentSpree's goal of simplifying the rental experience for all users.</p>
                    <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_RentSpreeFinal.png"
                    />
                    <img
                        src="../../assets/images/D_RentSpreeFinal.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- end section -->
    </div>
</div>
</div>
<style>
    .footer__wrapper {
    filter: invert(1) brightness(2) !important;
}
</style>
