<div class="view">
<div class="template-inner template-inner--case-study" style='background-color:#fff'>

    <div class="case-study-wrapper">
        <div class='text-center case-study-section case-study-section--hero' style='background-color:#F4F5F8'>
            <div class="case-btn-back-wrapper">
                <a href='/eric-portfolio/page/case-studies' id="case-study-back" class="btn btn-link">
                    <img src="../../assets/images/chevron_backward.svg" alt="">
                </a>
            </div>
            <div class="case-study__content">
                <h1>Spotlighting TaxAct’s value props increases its start rate.x</h1>
                <p> User Experience, Visual & Interaction Design, Content Strategy, and Testing.</p>
                <a href="https://www.taxact.com/" class="btn btn-link">Full case study</a>
            </div>
            <div class="img-wrap case-hero__picture case-study-inner-content">
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_TaxActHero.png"
                    />
                    <img
                        src="../../assets/images/D_TaxActHero.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- end section -->
        <div class="case-study-section">
            <div class="case-study-inner-content">
                <h2 class="text-center">Project Overview</h2>
                <p class="">TaxAct offers software specifically designed to assist users in efficiently preparing and filing their taxes, catering to both individuals and businesses. While it provides a variety of packages tailored to different tax situations, the platform’s unclear reasons to buy and inconsistent UI design patterns that have increased user drop-off rates, resulting in lower SUS and NPS ratings. Below are TaxAct’s charted scores and identified start rate drivers from the research.</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_TaxActData.png"
                    />
                    <img
                        src="../../assets/images/D_TaxActData.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
            <div class="case-study-inner-content">
                <h2 class="text-center">Crafting a strategy</h2>
                <p class="">The four key objectives were: Improve authentication, align on start rate drivers that can increase user confidence and convenience, highlight advantages compared to competitors, and allow our product to convert new and retain current customers. We chose the Double Diamond design process model to research, create and valid concepts for production. 
                    <br><br>
                    As the UX Design Lead, my focus was design strategy, creating a mobile first approach, user research, prototyping, A/B testing and design. I partnered with two researchers, three engineers, two QA team members and the product owner for five months. Below is the design strategy.</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_TaxActStrategy.png"
                    />
                    <img
                        src="../../assets/images/D_TaxActStrategy.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
            <div class="case-study-inner-content">
                <h2 class="text-center">Outcome and impact</h2>
                <p class="">The success of the project was measured by user conversion rates and confidence in our product's ability to have clear value props. By creating a scalable, user-friendly homepage, and integrating user feedback with our start rate drivers, we achieved a 30% improvement in performance, accessibility, best practices, and SEO. This directly contributed to reaching our goal of a 2% increase in start rate. 
                    <br><br>
                    The mobile-first approach I created was embraced and implemented into a responsive grid system, which established a cohesive design language for future product features and provided a flexible framework for secondary and tertiary pages.This also enabled our team to integrated a CMS for the homepage, landing and partnership pages. This transition dramatically reduced our time to market and enabled us to deliver scalable, high-quality designs more efficiently. Select the case study link for a in depth analysis of the full process.</p>
                <picture>
                    <source 
                        media="(max-width: 768px)" 
                        srcset="../../assets/images/M_TaxActFinal.png"
                    />
                    <img
                        src="../../assets/images/D_TaxActFinal.png"
                        alt=""
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- end section -->
    </div>
</div>
</div>