<div class="view" data-scroll-fade="true">
<div class="template-inner">
    <div class="view--third__content">
        <div class="project-grid">
            <div class="project-item" style=''>
                <a href="/page/case-studies/mercer">
                    <h3 class="project-item-link">Crafting a visual <br> language for Mercer</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/MercerThumb.png"
                        />
                        <img
                            src="/assets/images/MercerThumbD.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
            <div class="project-item item" style=''>
                <a href="/page/case-studies/wake">
                    <h3 class="project-item-link">Solving assisted living <br> silent epidemics with AI</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/M_WakeThumb.png"
                        />
                        <img
                            src="/assets/images/D_WakeThumb.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
            <div class="project-item" style=''>
                <a href="/page/case-studies/mc-donalds">
                    <h3 class="project-item-link">McDonald’s presents <br> Karaoke Night</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/D_McDonaldsthumb.png"
                        />
                        <img
                            src="/assets/images/D_McDonaldsthumb.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
            <div class="project-item hide" style=''>
                <a href="/page/case-studies/">
                    <h3 class="project-item-link">Explore what you love.</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/M_FoodThumb.png"
                        />
                        <img
                            src="/assets/images/D_FoodThumb.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
            <div class="project-item hide" style=''>
                <a href="/page/case-studies/">
                    <h3 class="project-item-link">Elevate your brush routine</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/M_WaversThumb.png"
                        />
                        <img
                            src="/assets/images/D_WaversThumb.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
            <div class="project-item" style=''>
                <a href="/page/case-studies/westlaw">
                    <h3 class="project-item-link">Launching Westlaw’s iPhone <br> App & aligning its iPad UX</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/M_WestlawThumb.png"
                        />
                        <img
                            src="/assets/images/D_WestlawThumb.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
            <div class="project-item" style=''>
                <a href="/page/case-studies/taxact">
                    <h3 class="project-item-link">Spotlighting TaxAct’s value <br> props increases its start rate</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/M_TaxActThumb.png"
                        />
                        <img
                            src="/assets/images/D_TaxActThumb.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
            <div class="project-item" style=''>
                <a href="/page/case-studies/rentspree">
                    <h3 class="project-item-link">Crafting a visual language <br> by creating RentSpree’s DS</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/M_RentSpreeThumb.png"
                        />
                        <img
                            src="/assets/images/D_RentSpreeThumb.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
            <div class="project-item" style=''>
                <a href="/page/case-studies/hampton">
                    <h3 class="project-item-link">Find a Hampton hotel <br> location near you</h3>
                    <picture>
                        <source 
                        media="(max-width: 768px)" 
                        srcset="/assets/images/M_HamptonInnThumb.png"
                        />
                        <img
                            src="/assets/images/D_HamptonInnThumb.png"
                            alt=""
                            loading="lazy"
                            decoding="async"
                        />
                    </picture>
                </a>
            </div>
            <!-- end project item -->
        </div>
    </div>
</div>
</div>

