<div class="view slider-view" data-scroll-fade="true" data-template="slider">
    <div class="template-inner">
        <div class="view--third__content">
             <!-- SWIPER HTML -->
            <div class="swiper caseSwiper" id="case-swiper">
                <div class="swiper-wrapper">

                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                        <img class="slide-img" src="https://picsum.photos/id/1015/600/400" alt="Slika 1">
                        <div class="slide-text">Ovo je opis prve slike.</div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                        <img class="slide-img" src="https://picsum.photos/id/1025/600/400" alt="Slika 2">
                        <div class="slide-text">Ovo je opis druge slike.</div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                        <img class="slide-img" src="https://picsum.photos/id/1035/600/400" alt="Slika 3">
                        <div class="slide-text">Ovo je opis treće slike.</div>
                    </div>

                </div>

                <!-- Navigacija -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div>
        </div>
    </div>
</div>
