<div class="view--home view" data-template="home">

    

    <!-- PRAVI HOME CONTENT --> 
    <div class="template-inner home-content view--home--text">
        <div class="view--second__content home-template-content">
            <h1>Let’s collab</h1>
            <p>in developing strategies, creative, UX, Apps & AI.</p>
        </div>
    </div>

    <!-- INTRO SLIDER -->
    <!-- INTRO SLIDER -->
    <div class="home-intro">
        <div class="swiper caseSwiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide" style="background-color: #ffe97a;">
                    <a href="/page/case-studies/mc-donalds" class="swiper-slide__link">
                        <img src="../assets/images/mcdonalds.png" alt="">
                        <div class="slide-text">McDonald’s presents Karaoke Night</div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="/page/case-studies/wake" class="swiper-slide__link">
                        <img src="../assets/images/Wake.png" alt="">
                        <div class="slide-text">Solving assisted living epidemics with Wake AI</div>
                    </a>
                </div>
                
                <div class="swiper-slide">
                    <a href="/page/case-studies/rent-spree" class="swiper-slide__link">
                        <img src="../assets/images/RentSpree.png" alt="">
                        <div class="slide-text">Crafting a visual language by creating RentSpree’s DS</div>
                    </a>
                </div>

            </div>

            <!-- PROGRESS BAR -->
            <div class="swiper-pagination"></div>

        </div>
    </div>

</div>
